.container {
  background-color: beige;
  padding-bottom: 20px;
}

.top-menu {
  background-color: #3e2723;
  padding-top: 10px;
}

.btn {
  margin-bottom: 5px;
}

.divider {
  background-color: cornflowerblue;
  height: 5px;
}

.banner {
  background-color: transparent;
  background-image: url(/static/images/garden-banner2.JPG);
  background-size: cover;
  min-height: 150px;
  color: whitesmoke;
}

.creator {
  padding-top: 20px;
}

.creator img {
	width: 100px;
	border-radius: 50%;
}

.padding-top {
  padding-top: 5px;
}

.padding-bottom {
  padding-bottom: 5px;
}

.plant-item {
  margin-top: 20px;
  margin-right: 20px;
  border: black solid 2px;
  background-color: white;
}

.plant-item figure {
  text-align: center;
  padding-bottom: 10px;
}

.plant-name {
  height: 40px;
}

.plant-detail {
  border: black solid 2px;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.plant-detail figure {
  text-align: center;
  padding-bottom: 10px;
}

.plant-image img {
  width: 200px;
}

figcaption {
  font-style: italic;
}

.cancel-btn {
  margin-top: 10px;
}

.flash {
	background-color: #98fb98;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}
