{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Plant Catalog</h1>
		</div>
	</div>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="row flash">
				<div class="col-md-12 padding-none">
		      <ul>
		        {% for message in messages %}
		          <li><strong>{{ message }}</strong></li>
		        {% endfor %}
		      </ul>
				</div>
			</div>
    {% endif %}
  {% endwith %}

	{% if 'username' in session %}
		<div class="row padding-top padding-bottom">
			<div class="col-md-1"></div>
			<div class="col-md-10 padding-none">
				<a href="{{url_for('newPlant')}}">
					<button class="btn btn-default" id="new-plant">
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
						Add Plant
					</button>
				</a>
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}

	<div class="row main-info">
		<div class="col-md-1"></div>
		<div class="col-md-3 category-list">
			<div class="heading padding-bottom padding-top">
				<h2>Categories</h2>
			</div>
			<ul class="category-data">
				{% for category in categories %}
					<li>
						<a href = "{{url_for('showCategory', category_name=category.name)}}">
							<h3> {{category.name}} </h3>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-8 plant-list">
			<div class="heading padding-bottom padding-top">
				<h2>Latest Items</h2>
			</div>
			{% for plant in plants %}
				<div class="col-md-5 plant-item">
					<a href = "{{url_for('showPlantItem', category_name=plant.category.name, plant_name=plant.name)}}">
						<h4 class="plant-name"> {{plant.name}} </h4>
					</a>
					<figure class="plant-image">
						<img src="{{plant.image}}" alt="{{plant.name}}">
					</figure>
					<p><strong>Category: </strong>{{plant.category.name}}</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
