{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>New Plant Item</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-6 padding-top">
			<form action="{{ url_for('newPlant') }}" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="80" class="form-control" name="name" placeholder="Plant name">

					<label for="botanical_name">Botanical name:</label>
					<input type ="text" maxlength="80" class="form-control" name="botanical_name" placeholder="Botanical name">

					<label for="image">Image URL:</label>
					<input type ="text" maxlength="250" class="form-control" name="image" placeholder="URL for plant image">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description"></textarea>

					<label for="category">Category:</label>
					{% for category in categories %}
						<div class="radio">
						  <label>
						    <input type="radio" name="category" id="cat{{category.id}}" value="{{category.name}}" {% if category.id == 1 %}checked{% endif %}>
								{{category.name}}
						  </label>
						</div>
					{% endfor %}
					<button type="submit" class="btn btn-default" id="submit" type="submit">
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
						Create
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
